@using DDDSouthWest.Website.Framework

@{
    ViewBag.Tab = PageTab.About;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Login"/>
}

@section MainColBody {
        
    <h2>Login</h2>

}