@using DDDSouthWest.Website.Framework

@{
    ViewBag.Tab = PageTab.About;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Dashboard"/>
}

@section MainColBody {

    <h2>Welcome</h2>
    
    <h2>Organiser</h2>
    <ul>
        <li><a href="#">Manage Events</a></li>
        <li><a href="#">Manage Pages</a></li>
    </ul>
    
    <h2>Speakers</h2>
    <ul>
        <li><a href="#">Manage Profile</a></li>
        <li><a href="#">Manage Talks</a></li>
    </ul>

}