@using DDDSouthWest.Website.Framework

@{
    ViewBag.Tab = PageTab.About;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Dashboard"/>
}

@section MainColBody {

    <h2>Welcome</h2>

}