@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.News.NewsDetailViewModel

@{
    ViewBag.Tab = PageTab.News;
    ViewBag.TitleTag = Model.Title;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="News"/>
}

@section MainColBody {
        
    <div class="pure-g">
        
        <div class="pure-u-1-1 pure-block">
        
            <div class="news-detail gutter-bottom-default">
                <h1 class="news-detail__title">@Model.Title</h1>
                <p class="news-detail__date">Posted @Model.DatePosted.ToString("ddddd, dd MMM yyyy")</p>
                <div class="news-detail__content">@Html.Raw(Model.Body)</div>
            </div>

            <div class="pure-u-1-1 pure-block">
                <a href="@Url.RouteUrl(RouteNames.NewsList)">&laquo; Return to news</a>
            </div>

        </div>

    </div>
    
}

@*@section SideColumn
{
    <div style="border-left: 1px solid red; height: 500px;">
        sdfs
    </div>
}*@
