@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section ScriptsHeader
{
    @await RenderSectionAsync("ScriptsHeader", false)
}

@section Css
{
    @await RenderSectionAsync("Css", false)
}

@if (IsSectionDefined("Breadcrumbs"))
{
    @await RenderSectionAsync("Breadcrumbs")
}

@if (IsSectionDefined("Header"))
{
    @await RenderSectionAsync("Header")
}

@if (IsSectionDefined("MainColBody"))
{
    <div class="grid-container">
        <div class="grid-100">
            <div class="content-container">
                @await RenderSectionAsync("MainColBody")
            </div>
        </div>
    </div>
} else if (IsSectionDefined("MainCol"))
{
    @await RenderSectionAsync("MainCol")
}

@section ScriptsFooter
{
    @await RenderSectionAsync("ScriptsFooter", false)
}