@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section ScriptsHeader
{
    @await RenderSectionAsync("ScriptsHeader", false)
}

@section Css
{
    @await RenderSectionAsync("Css", false)
}

@if (IsSectionDefined("Breadcrumbs"))
{
    @await RenderSectionAsync("Breadcrumbs")
}

@if (IsSectionDefined("Header"))
{
    @await RenderSectionAsync("Header")
}

<div class="grid-container">

    <div class="grid-70 tablet-grid-65 mobile-grid-100">
	    <div id="mainColumn">
		    <div class="main-content" style="padding-top: 20px;">
		    	@await RenderSectionAsync("MainCol")
		    </div>
	    </div>
    </div>

    <div class="grid-30 tablet-grid-35 mobile-grid-100">
        <div id="sideColumn" style="padding-top: 20px;">
            @await RenderSectionAsync("SideColumn")
        </div>
    </div>

</div>

@section ScriptsFooter
{
    @await RenderSectionAsync("ScriptsFooter", false)
}