@using DDDSouthWest.Website.Framework

@{
    ViewBag.Tab = PageTab.Home;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section MainCol {

    <div class="home-banner">
        <p>
            <span class="home-banner__line1">DDD South West 8.0</span>
            <span class="home-banner__line2">Saturday 6th May, 2018</span>
            <span class="home-banner__line3">Redcliffe Sixth Form Centre, Bristol</span>
        </p>
        <a href="#" class="button button--large button--primary">Reserve your ticket now</a>
    </div>
    
    <div class="util-text--center">
        <h2 class="home-strapline">DDD South West is an inclusive, non-profit Developer’s conference organised by the community, for the community </h2>
        <a href="#" class="button button--small button--primary">Learn more about us</a>
    </div>
    
    <div class="news-component">
        <div class="grid-container grid-parent">
            
            <h3 class="title title--underline">Latest Announcement</h3>
            
            <div class="grid-70 grid-parent">
                <div class="news-component--main-col">
                    <h4>New DDD South West date announced</h4>    
                </div>
            </div>
            
            <div class="grid-30 grid-parent">
                <div class="news-component__side-col">
                    Hello World    
                </div>
            </div>
            
        </div>
    </div>

}