@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.Home.HomepageViewModel

@{
    ViewBag.Tab = PageTab.Home;
    ViewBag.TitleTag = "DDD South West is an inclusive, non-profit developers' conference organised by the community, for the community";
    ViewBag.MetaDescription = "DDD South West is an inclusive, non-profit developers' conference organised by the community, for the community";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Css
{
    <link href="/css/sponsors.css" rel="stylesheet"/>
}

@section MainCol {

    <div class="home-banner">
        <p>
            <span class="home-banner__line1">DDD South West 2022</span>
            <span class="home-banner__line2">Saturday 25th June, 2022</span>
            <span class="home-banner__line3">Engine Shed, Temple Meads, BS1 6QH</span>
        </p>
        @*<a href="https://www.eventbrite.co.uk/e/ddd-southwest-2018-registration-43895515669" class="button button--large button--primary">Reserve your free ticket now</a>*@
    </div>
    
    <div class="grid-container">

        <div class="grid-100">
            <div class="util-text--center">
                <p class="home-strapline">DDD South West is an inclusive, non-profit developers' conference organised by the community, for the community</p>
                <a href="/page/about" class="button button--small button--primary">Learn more about us</a>
            </div>
        </div>
        
        <div class="grid-60">
            
            <h3 class="title--medium title--underline">Latest News &amp; Announcements</h3>    
            <div class="news-component__main-col">

                @{
                    var latestItem = Model.News.FirstOrDefault();
                    if (latestItem != null)
                    {
                        <h4 class="title--medium branding--primary gutter-top-none gutter-bottom-none">@latestItem.Title</h4>
                        <p>Posted @latestItem.DatePosted.ToString("ddddd, dd MMM yyyy")</p>
                        <div>@Html.Raw((string) latestItem.Body)</div>
                        <div class="gutter-top-default"></div>
                        <a href="@Url.RouteUrl(RouteNames.NewsList)" class="button button--small button--primary">More News</a>
                    }
                }

            </div>
        </div>

        <div class="grid-40">
            <h3 class="title--medium title--underline">Dates of Interest</h3>
            <div class="news-component__side-col">
                <p><strong>Session Submissions Opens:</strong><br/>
                    Saturday, 2nd April 2022</p>
                <p><strong>Session Submissions Closes:</strong><br/>
                    Friday, 13th May 2022</p>
                <p><strong>Session Voting Opens:</strong><br/>
                    Sunday, 15th May 2022</p>
                <p><strong>Session Voting Closes:</strong><br/>
                    Saturday, 21st May 2022</p>
                <p><strong>Registration Opens:</strong><br/>
                    Saturday, 4th June 2022</p>
            </div>
        </div>

    </div>

    <div class="gutter-bottom-default"></div>

    <div class="grid-container">
        <div class="grid-100">

            <div class="sponsor-component">
                
                <h3 class="title--medium title--underline">Sponsors</h3>
                <p>DDD South West is a free community based conference, without the support of our sponsors it wouldn't be possible.</p>
                                        
                @*
                <div class="logo-block logo-block--first">
                    <a href="https://www.scottlogic.com" style="background-image: url('/images/sponsors/scott_logic.gif')" target="_blank">
                        &nbsp;
                    </a>
                </div>
    
                <div class="logo-block">
                    <a href="https://www.landmark.co.uk" style="background-image: url('/images/sponsors/landmark.png')" target="_blank">
                        &nbsp;
                    </a>
                </div>
            *@
    
                <div class="logo-block">
                    <a title="iO Associates" href="https://www.ioassociates.co.uk" style="background-image: url('/images/sponsors/io_associates.png'); background-size: 30%" target="_blank">
                        &nbsp;
                    </a>
                </div>
    
                @*
                <div class="logo-block logo-block--first">
                    <a href="https://ndc-london.com" style="background-image: url('/images/sponsors/ndc_london.png')" target="_blank">
                        &nbsp;
                    </a>
                </div>
                
                <div class="logo-block">
                    <a href="https://ndc-london.com" style="background-image: url('/images/sponsors/ndc_london.png')" target="_blank">
                        &nbsp;
                    </a>
                </div>
                *@
                
                <div class="logo-block">
                    <a title="Elastic Mint" href="https://www.elasticmint.com/" style="background-image: url('/images/sponsors/elastic_mint.png')" target="_blank">
                        &nbsp;
                    </a>
                </div>
                
                <div class="logo-block">
                    <a title="BJSS" href="https://www.bjss.com/" style="background-image: url('/images/sponsors/bjss.svg')" target="_blank">
                        &nbsp;
                    </a>
                </div>
                
                <div class="logo-block">
                    <a title="ALD Automotive" href="https://www.aldautomotive.com/" style="background-image: url('/images/sponsors/ALD.jpg')" target="_blank">
                        &nbsp;
                    </a>
                </div>
                
                <div class="logo-block">
                    <a title="Seccl" href="https://seccl.tech/" style="background-image: url('/images/sponsors/seccl.svg')" target="_blank">
                        &nbsp;
                    </a>
                </div>

                <div class="clearfix"></div>
                
                <div class="gutter-top-default"></div>

                <a href="/page/sponsors" class="button button--small button--primary">More about sponsorship</a>   
                
                <div class="gutter-top-default"></div>
                
            </div>

        </div>
    </div>
    
    <div class="gutter-bottom-default"></div>
}
