@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Admin.Account.ManageNews.ManageNewsViewModel

@{
    ViewBag.Tab = PageTab.Login;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section ScriptsHeader {
    <link rel="stylesheet" href="/js/simplemde/simplemde.min.css">
    <script src="/js/simplemde/simplemde.min.js"></script>
}

@section Header {
    <page-banner title="News"/>
}

@section MainColBody {

    <h1>Edit News Item</h1>
    
    @using (Html.BeginForm("Update", "ManageNews", null, FormMethod.Post, true, new { @class="pure-form pure-form-aligned"}))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.Partial("_Form")
    }
    
    <script type="text/javascript">
        var simplemde = new SimpleMDE({
            element: document.getElementById("postBody"),
            tabSize: 2
        });
    </script>
}