@model DDDSouthWest.Website.Features.Public.Account.Registration.RegistrationViewModel

@Html.AntiForgeryToken()

<validation-summary errors="@Model.Errors" />

<fieldset>
    
    <div class="pure-control-group">
        <label asp-for="EmailAddress">Email Address</label>
        <input asp-for="EmailAddress" class="pure-input-2-3"/>
    </div>
    
    <div class="pure-control-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="pure-input-2-3"/>
    </div>
    
    <div class="pure-controls">
        <label asp-for="ReceiveNewsletter" class="pure-checkbox">
            <input asp-for="ReceiveNewsletter" type="checkbox" style="position: relative; top: -3px;"> Notify me of future DDD South West events (important dates, call for speakers etc.) via email.
        </label>
    </div>
    
    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>

</fieldset>