
@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.Account.Registration.RegistrationViewModel

@{
    ViewBag.Tab = PageTab.Register;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Registration"/>
}

@section MainColBody {

    <h2>Confirm registration</h2>

    <p>Please check your email account registered to confirm your email address</p>

}