@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.Account.Registration.RegistrationViewModel

@{
    ViewBag.Tab = PageTab.Register;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Registration"/>
}

@section MainColBody {

    <h1>Speaker Registration</h1>

    @if (!Model.AllowRegistration)
    {
        using (Html.BeginForm("Create", "Registration", null, FormMethod.Post, true, new { @class="pure-form pure-form-aligned"}))
        {
            @Html.Partial("_Form")
        }
    }
    else
    {
        <p>Registration is currently disabled, please check back soon.</p>
    }

}