@model DDDSouthWest.Website.Features.Public.Account.ManageTalks.ManageTalksViewModel

@Html.AntiForgeryToken()

<validation-summary errors="@Model.Errors" />

<fieldset>
    
    <div class="pure-control-group">
        <label asp-for="TalkTitle">Talk Title:</label>
        <input asp-for="TalkTitle" class="pure-input-2-3"/>
    </div>

    <div class="pure-control-group">
        <label asp-for="TalkSummary">Talk Summary:</label>
        <textarea asp-for="TalkSummary" class="pure-input-2-3" style="height: 100px;"></textarea>
    </div>
    
    <div class="pure-control-group">
        <label asp-for="TalkBodyMarkdown">Talk Proposal:</label>
        <div class="pure-u-2-3">
            <div style="padding-right: 8px;">
                <textarea asp-for="TalkBodyMarkdown" id="talkBody" style="height: 250px;"></textarea>
            </div>
        </div>
    </div>

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>

</fieldset>