@model DDDSouthWest.Website.Features.Admin.Account.ManageTalks.ManageTalksViewModel

@Html.AntiForgeryToken()

<validation-summary errors="@Model.Errors" />

<fieldset>
    
    <div class="pure-control-group">
        <label asp-for="TalkTitle">Talk Title</label>
        <input asp-for="TalkTitle" class="pure-input-2-3"/>
    </div>

    <div class="pure-control-group">
        <label asp-for="TalkFilename">Talk Filename</label>
        <input asp-for="TalkFilename" class="pure-input-2-3"/>
    </div>

    <div class="pure-control-group">
        <label asp-for="TalkSummary">Talk Summary</label>
        <textarea asp-for="TalkSummary" class="pure-input-1-4"></textarea>
    </div>
    
    <div class="pure-control-group">
        <label asp-for="Talkbody">Talk</label>
        <textarea asp-for="Talkbody" class="pure-input-1-4"></textarea>
    </div>
    

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>

</fieldset>