@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.Account.ManageTalks.ManageTalksViewModel

@{
    ViewBag.Tab = PageTab.Login;                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section ScriptsHeader {
    <link rel="stylesheet" href="/js/simplemde/simplemde.min.css">
    <script src="/js/simplemde/simplemde.min.js"></script>
}

@section Header {
    <page-banner title="Talks"/>
}

@section MainColBody {

    <h1>Add New Talk</h1>
    
    @*
    <p style="color: red; font-weight: bold;">Speaker submissions are now closed, any new submissions will not be counted. Thank you to all those that have submitted their proposals.</p>
    *@
    
    @using (Html.BeginRouteForm(RouteNames.SpeakerTalkCreate, FormMethod.Post, new { @class="pure-form pure-form-aligned"}))
    {
        @Html.Partial("_Form")
    }
    
    <script type="text/javascript">
        var simplemde = new SimpleMDE({
            element: document.getElementById("talkBody"),
            tabSize: 2
        });
    </script>
}