@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.Account.ManageTalks.ManageTalksViewModel

@{
    ViewBag.Tab = PageTab.Login;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section ScriptsHeader {
    <link rel="stylesheet" href="/js/simplemde/simplemde.min.css">
    <script src="/js/simplemde/simplemde.min.js"></script>
}

@section Header {
    <page-banner title="Talks"/>
}

@section MainColBody {

    <h1>Edit Talk</h1>
    
    @using (Html.BeginForm("Update", "SpeakerManageTalks", null, FormMethod.Post, true, new { @class="pure-form pure-form-aligned"}))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.Partial("_Form")
    }
    
    <script type="text/javascript">
        var simplemde = new SimpleMDE({
            element: document.getElementById("talkBody"),
            tabSize: 2
        });
    </script>
    
    <div class="pure-u-1-1 pure-block">
        <a href="@Url.RouteUrl(RouteNames.SpeakerTalkManage)">&laquo; Return to talks</a>
    </div>
}