@model DDDSouthWest.Website.Features.Public.Account.ManageProfile.ProfileEditViewModel

@Html.AntiForgeryToken()

@*<validation-summary errors="@Model.Errors" />*@

<fieldset>
    
    <div class="pure-control-group">
        <label asp-for="Profile.GivenName">Given Name:</label>
        <input asp-for="Profile.GivenName" class="pure-input-2-3"/>
    </div>

    <div class="pure-control-group">
        <label asp-for="Profile.FamilyName">Family Name:</label>
        <input asp-for="Profile.FamilyName" class="pure-input-2-3"/>
    </div>

    <div class="pure-control-group">
        <label asp-for="Profile.Website">Website:</label>
        <input asp-for="Profile.Website" class="pure-input-2-3" />
    </div>

    <div class="pure-control-group">
        <label asp-for="Profile.Twitter">Twitter:</label>
        <input asp-for="Profile.Twitter" class="pure-input-2-3" />
    </div>

    <div class="pure-control-group">
        <label asp-for="Profile.LinkedIn">LinkedIn:</label>
        <input asp-for="Profile.LinkedIn" class="pure-input-2-3" />
    </div>
    
    <div class="pure-control-group">
        <label asp-for="Profile.Bio">Bio:</label>
        <div class="pure-u-2-3">
            <div style="padding-right: 8px;">
                <textarea asp-for="Profile.Bio" id="postBody" style="height: 250px;"></textarea>
            </div>
        </div>
    </div>
    
    <div class="pure-controls">
        
        <button type="submit" class="pure-button pure-button-primary">Save</button>
    </div>

</fieldset>
