@model DDDSouthWest.Website.Features.Public.Page.PageDetailViewModel

@{                                       
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    ViewBag.TitleTag = Model.PageDetail.Title;
}

@section Header {
    <page-banner title="&nbsp;"/>
}

@section MainColBody {
        
    <h2>@Model.PageDetail.Title</h2>
    <div>@Html.Raw(Model.PageDetail.BodyHtml)</div>
}