@model DDDSouthWest.Website.Features.Public.Page.PageDetailViewModel

@{                                       
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
    ViewBag.TitleTag = Model.PageDetail.Title;
}

@section Header {
    <page-banner title="@Model.PageDetail.Title"/>
}

@section MainColBody {
    <div>@Html.Raw(Model.PageDetail.BodyHtml)</div>
}