@using DDDSouthWest.Website.Framework

@{                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Oops!"/>
}

@section MainColBody {
        
    <h2>Page not found</h2>
    <p>This page you are looking for could not be found.</p>
}