@using DDDSouthWest.Website.Framework

@{
    ViewBag.Tab = PageTab.Sponsors;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="DDD South West 8 Sponsors"/>
}

@section MainColBody {
        
    <h2>Sponsors</h2>

}