@using DDDSouthWest.Website.Framework

@{
    ViewBag.Tab = PageTab.Sponsors;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Sponsorship"/>
}

@section MainColBody {

    <h1>Sponsorship Opportunities</h1>
    
    <p>We are actively looking for sponsors for DDD South West 2022. If you or your company would like to become a sponsor please email <a href="mailto:russell.day@dddsouthwest.com">russell.day@dddsouthwest.com</a>.</p>
    <p>Sponsorship opportunities include:</p>
    <div class="gutter-bottom-default">
    <table class="pure-table pure-table-bordered" style="width: 100%;">
        <thead>
        <tr>
            <th>Level</th>
            <th>Reward</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Bronze</td>
            <td>
                Your logo on our website<br>
                Your logo on the opening and closing slides<br>
                Flyer in bag<br>
                An opportunity to make an announcement at the beginning or end of the day
            </td>
            <td>&pound;600</td>
        </tr>
        <tr>
            <td>Silver</td>
            <td>
                All above +<br>
                A table / stand in the common room<br>
                Brochure or pack in bag
            </td>
            <td>&pound;1000</td>
        </tr>
        <tr>
            <td>Gold</td>
            <td>
                Let’s talk!<br>
                We can create a package tailored for you<br>
                Opportunity to provide speakers for your own sponsors track
            </td>
            <td>&pound;1500+</td>
        </tr>
        <tr>
            <td>Welcome Pastry</td>
            <td>
                Your company name and logo displayed with the pastries on arrival
            </td>
            <td>&pound;300</td>
        </tr>
        <tr>
            <td>Lunchtime Pasties</td>
            <td>Your company name and logo displayed with the pasties at lunch</td>
            <td>&pound;600</td>
        </tr>
        <tr>
            <td>Afternoon Cream Teas</td>
            <td>Your company name and logo displayed with the afternoon cream teas</td>
            <td>&pound;500</td>
        </tr>
        </tbody>
    </table>
    </div>
    <p>
        All of the above include:
        <ul>
            <li>The opportunity to talk to the exact people you want to recruit or sell to.</li>
            <li>A lot of love from DDD South West attendees! Everyone appreciates that without you these events can’t happen.</li>
            <li>
                A lot of love from the DDD South West organisation team! We will go out of our way to praise you as much as possible
                before, on and after the day.
            </li>
            <li>
                An opportunity to make a short announcement at the beginning or end of the day. This could include that you are recruiting
                or that you have an awesome product.
            </li>
        </ul>
    </p>

}
