@using DDDSouthWest.Website.Framework

@{
    ViewBag.Tab = PageTab.Sponsors;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="DDD South West 2018 Sponsors"/>
}

@section Css
{
    <link href="/css/sponsors.css" rel="stylesheet"/>
}

@section MainColBody {

    <h1>Sponsors</h1>
    
    <p>We'd like to give a special thanks to all of our sponsors. As a free community event it really wouldn't possible without them.</p>
    
    <div class="logo-block logo-block--first">
        <a href="http://www.scottlogic.com" style="background-image: url('/images/sponsors/scott_logic.gif')" target="_blank">
            &nbsp;
        </a>
    </div>
    
    <div class="logo-block">
        <a href="https://www.landmark.co.uk" style="background-image: url('/images/sponsors/landmark.png')" target="_blank">
            &nbsp;
        </a>
    </div>
    
    <div class="logo-block logo-block--last">
        <a href="http://www.ioassociates.co.uk" style="background-image: url('/images/sponsors/io_associates.png'); background-size: 30%" target="_blank">
            &nbsp;
        </a>
    </div>
    
    <div class="logo-block logo-block--first">
        <a href="https://ndc-london.com" style="background-image: url('/images/sponsors/ndc_london.png')" target="_blank">
            &nbsp;
        </a>
    </div>

    <div class="clearfix"></div>
    
    <p style="margin-top: 100px;"><strong>Become a sponsor of DDD South West 2018</strong></p>
    <p>Interested in sponsoring this year's DDD South West conference? Read more about <a href="/page/sponsorship">sponsorship opportunities here.</a></p>
    
    @*<div class="grid-container">   
        
        <div class="grid-33">
            <div>
                <img src="/images/sponsors/scott_logic.gif" alt="Scott Logic" style="width: 230px"/>
            </div>
        </div>
         
        <div class="grid-33">
            <div style="padding: 20px;">
                <img src="/images/sponsors/scott_logic.gif" alt="Scott Logic" style="width: 230px"/>
            </div>
        </div>
         
        <div class="grid-33">
            <div>
                <img src="/images/sponsors/scott_logic.gif" alt="Scott Logic" style="width: 230px"/>
            </div>
        </div>
        
    </div>
        
     <div class="grid-container">   
        
         <div class="grid-33">
             <div>
                 <img src="/images/sponsors/scott_logic.gif" alt="Scott Logic" style="width: 230px"/>
             </div>
         </div>
         
         <div class="grid-33">
             <div style="padding: 20px;">
                 <img src="/images/sponsors/scott_logic.gif" alt="Scott Logic" style="width: 230px"/>
             </div>
         </div>
         
         <div class="grid-33">
             <div>
                 <img src="/images/sponsors/scott_logic.gif" alt="Scott Logic" style="width: 230px"/>
             </div>
         </div>
        
     </div>*@

}