.polaroid {
    padding: 4px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.divider {
    border-bottom: 1px dotted #ccc;
    margin: 20px 0;
}

.error-list {}

.error-list li {
    color: red;
}

/* News */

.news-component {}

.news-component__main-col {
    padding: 10px;
}

.news-component__side-col {
    background-color: #efefef;
    padding: 10px;
}

.news-list {
    margin: 0;
    padding: 0;
}

.news-list .news-list__item {
    margin: 0 0 20px;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #efefef;
}

.news-list .news-list__title {
    font-weight: bold;
    margin: 0;
    font-size:18px;
}