html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: .875em;
    line-height: 1.42857;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    color: #6d6d6d;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial;
    font-weight: normal;
}

a {
    color: #ff9930;
    outline: none;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

header, footer, hgroup,
nav, section {
    display: block;
}

h1 {
    margin: 0;
    padding: 0;
}

h2, h3, h4 {
    margin: 20px 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    line-height: 1.3em;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 15.4px;
    line-height: 1.5em;
    margin: 0 0 16px;
}

.util-text--center {
    text-align: center;
}

.util--stretch {
    width: 100%;
}

.pure-block,
.util--app-block {
    margin-bottom: 20px;
}

.l-box {
    padding-right: 20px;
}

.r-box {
    padding-left: 20px;
}

.gutter-top-none { padding-top: 0; margin-top: 0; }
.gutter-top-small { padding-top: 10px; }
.gutter-top-default { padding-top: 20px; }

.gutter-right-default { padding-right: 20px; }

.gutter-bottom-default { padding-bottom: 20px; }

.gutter-small { padding: 10px; }

.grid-container { max-width: 100%; padding: 0 10px; }