.header-container {
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}
.header-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.site-logo {
    float: left;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0 10px;
    
}

.site-logo__title {
    font-weight: 800;
    font-size: 3rem;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: -2px;
    padding-left: 50px;
    background: no-repeat 0 center url('/images/cow_small.gif');
    background-size: 40px;
}

/* Homepage */

.home-banner {
    background-image: url('/images/home_banner2.jpg');
    background-size: cover;
    background-position: center;
    padding: 10% 20px;
    text-align: center;
}

.home-banner p {
    margin: 0 auto 40px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
}

.home-banner span {
    display: block;
    color: #fff;
    margin: 0 0 15px;
    line-height: 1.1;
    text-shadow: 0 0 20px rgba(0,0,0, 0.4);
}

.home-banner__line1 {
    font-size: 7rem;
    line-height: 70px;
    /*letter-spacing: -4px;*/
}

.home-banner__line2 {
    font-size: 3.5rem;
    /*letter-spacing: 5px;*/
}

.home-banner__line3 {
    font-size: 1.8rem;
}

@media (max-width: 767px) {
    .home-banner__line1 {
        font-size: 3rem;
    }
    .home-banner__line2 {
        font-size: 2rem;
    }
    .home-banner__line3 {
        font-size: 1.5rem;
    }
}

.home-strapline {
    font-size: 3rem;
    color: #808080;
    width: 70%;
    /*letter-spacing: 1px;*/
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    margin: 50px auto 30px;
}

@media (max-width: 767px) {
    .home-strapline {
        font-size: 2rem;
        width: 90%;
        margin: 20px;
    }
}

/* Button */

.button {
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}

.button--default {
    color: #999;
    background-color: transparent;
}

.button--primary {
    background-color: #ff9930;
    color: #fff;
}

.button--large {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.8rem;
}

.button--small {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Page */

.page-banner {
    background-image: url('/images/page_banner2.jpg');
    background-size: cover;
    background-position: center;
}

.page-banner__content {
    margin: 0 auto;
    text-align: left;
    padding: 50px 0;
}

.page-banner--title {
    font-size: 6rem;
    color: #fff;
    line-height: 1.3;
    font-weight: bold;
    text-shadow: 0 0 20px rgba(0,0,0, 0.4);
}

/* Media Object */

.media {
    display: table;
}

.media__left, .media__body {
    display: table-cell;
    vertical-align: top;
}

.media__left {
    padding-right: 20px;
}

.media__right {
    padding-left: 20px;
}

.media__body {
    width: 10000px;
}

/* Footer */

.footer-wrapper {
    padding: 10px 0;
    border-top: 1px solid #efefef;
}