@using DDDSouthWest.Website.Framework

@{
    ViewBag.Tab = PageTab.Login;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Speakers"/>
}

@section MainColBody {

    <h2>Manage Speakers</h2>
    
    <div class="pure-g">

        <div class="pure-u-1-1 pure-block">

            <table class="pure-table pure-table-horizontal util--stretch">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Speaker Name</th>
                    <th>Last Modified</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td><a href="@Url.RouteUrl(RouteNames.SpeakerEdit, new { id = 1 })">Edit</a></td>
                    <td>Professor X</td>
                    <td>7th May 2018</td>
                </tr>
                <tr>
                    <td><a href="@Url.RouteUrl(RouteNames.PageEdit, new { id = 1 })">Edit</a></td>
                    <td>Professor Y</td>
                    <td>7th May 2017</td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
}