@using DDDSouthWest.Website.Features.Admin.Account.ManageTalks
@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Admin.Account.ManageTalks.ManageTalksViewModel

@{
    ViewBag.Tab = PageTab.Login;                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Talks"/>
}

@section MainColBody {

    <h2>Add New Talk</h2>
    
    @using (Html.BeginForm("Create", "ManageTalks", null, FormMethod.Post, true, new { @class="pure-form pure-form-aligned"}))
    {
        @Html.Partial("_Form")
    }
}