@using DDDSouthWest.Website.Features.Admin.Account.ManageTalks
@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Admin.Account.ManageTalks.TalkListViewModel

@{
    ViewBag.Tab = PageTab.Login;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Talks"/>
}

@section MainColBody {

    <h2>Manage Talks</h2>
    
    <div class="pure-g">
        
        <div class="pure-u-1-1 pure-block">
            <a class="pure-button pure-button-primary" href="@Url.RouteUrl(RouteNames.TalkCreate)">Add New Talk</a>
        </div>

        <div class="pure-u-1-1 pure-block">

            <table class="pure-table pure-table-horizontal util--stretch">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Talk Title</th>
                    <th>Submission Date</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var talk in Model.Talks)
                {
                    <tr>
                        <td><a href="@Url.RouteUrl(RouteNames.TalkEdit, new { id = talk.Id })">Edit</a></td>
                        <td>@talk.TalkTitle</td>
                        <td>7th May 2018</td>
                    </tr>    
                }
                </tbody>
            </table>

        </div>

    </div>
}