@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.Account.ManagePages.ManagePagesViewModel

@{
    ViewBag.Tab = PageTab.Login;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Pages"/>
}

@section MainColBody {

    <h2>Edit Page</h2>
    
    @using (Html.BeginForm("Edit", "ManagePages", null, FormMethod.Post, true, new { @class="pure-form pure-form-aligned"}))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.Partial("_Form")
    }
}