@using DDDSouthWest.Web.Framework

@{
    ViewBag.Tab = PageTab.About;                                                        
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="About DDD South West"/>
}

@section MainColBody {
        
    <h2>What is DDD South West?</h2>
    <p>DDD South West is a free one day technical event organised by developers for developers.</p>
    <p>It is a day of learning, discussing, contributing and being part of the developer community in the South West.</p>
    <p>Our goal is to provide free technical education, the opportunity to mix with peers and to make and develop relationships in the .NET community.</p>
    
    <h2>By The Community, For The Community</h2>
    
    <h2>Getting Involved</h2>
    <p>DDD South West is a community event and there are several ways you can get involved:</p>
    <ul>
        <li>Help us to advertise DDD South West by getting a badge and putting it on your website/blog.</li>
        <li>If you have ever felt like speaking at a conference then DDD South West is looking for you. We are looking for experienced and new speakers alike to present 60 minute sessions. See the Call For Speakers page.</li>
        <li>Want to give speaking a try but don't fancy the full on 60 minute sessions? No problem, we are looking for members of the community to give grok talks or micro-presentations at lunchtime. Grok talks are 10 minute presentations on any subject relevant to the DDD South West audience. Micro-presentations are 20 slides of 20 seconds each (totalling 6 minutes 40 seconds) again on any subject relevant to the DDD South West audience. Want to know more? Send an email to <a mailto="groktalks@dddsouthwest.com">groktalks@dddsouthwest.com</a>.</li>
        <li>Don't fancy the public speaking but still want to be part of it? Please get in touch as we may be looking for more volenteers to help organise the event!</li>
    </ul>

}