@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.Account.Registration.RegistrationViewModel

@{
    ViewBag.Tab = PageTab.Register;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Registration"/>
}

@section MainColBody {

    <h1>Log Out</h1>

    <p>You have now been logged out</p>

}