@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Volunteer for DDD South West"/>
}

@section MainColBody {

    <h1>Thank you!</h1>
    <p>Thank you for registering as a volunteer for this year's DDD South West event. We should be in touch via e-mail soon.</p>

}